{% extends "app_quotes/base.html" %} {% load extract_tags %}

{% block content %}

{% for quote in quotes %}
<div class="form-control px-4 py-3 my-2 md-2 text-left">
    <div class="">
        <div class="lead mb-2"> {{quote.quote}}
        </div>
        <span class="lead mb-2"> by <a href= '{% url "app_quotes:author" quote.author_id%}' >{{quote.author}}</a>
        </span>
        <div class="lead mt-2 mb-2">
            <p>Tags: {{ quote.tags|tags }} </p>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>
{% endfor %}






{% endblock %}

