{% extends "app_quotes/base.html" %}

{% block content %}
<h1>Create tag</h1>
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    <span>WARNING!{{ form.non_field_errors }}{{ form.errors }}</span>
</div>
{% endif %}
<form action="{% url 'app_quotes:tag' %}" method="POST">
    {% csrf_token %}
    <div class="form-control">
        <label> Enter the tag name:</label>
        {{ form.name }}
        <span>{{ form.errors.name }}</span>
    </div>
    <div class="form-control">
        <button type="submit" class="btn btn-dark">Create</button>
        <button type="reset" class="btn btn-dark">Reset</button>
    </div>
</form>
{% endblock %}
